form {
	width: 100%;
	fieldset {
		border: 0;
	}
	legend {
		display: none;
	}

	.label {
		display: block;
		margin-bottom: 5px;
	}

	.input-group {
		width: 100%;
		margin-bottom: 10px;
		display: block;
		.input {
			width: 100%;
			padding: 8px 5px;
			border-radius: 3px;
			border: 1px solid #c9c9c9;
		}
	}
}