@media screen and (min-width: sm) {
	.column {
	    flex_no_align_center();
		.sm-2 {
			width: 48%;
		}
		.sm-3 {
			width: 33.3%;
		}
		.sm-5 {
			width: 19%;
		}
	}	
}

@media screen and (min-width: md) {
	.column {
		.md-3 {
			width: 32%;
		}

		.md-4 {
			width: 24%;
		}
	}	
}