* {
	margin 0;
	padding 0
	box-sizing: border-box;
	font-style: normal;  
	text-decoration: none;
	outline: none;
	list-style-type: none;
}

html {
	font-family: "Arial", sans-serif;
	font-size: 13px;
}

.logo {
	font-size: 0;
    width: 150px;
    height: 39px;
	background: url(../../img/logo.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

p {
	color: #363636;
	line-height: 1.5;
}

.container	{
	max-width: 1170px
	padding 0 15px;
	margin 0 auto
	position relative 
}

.clearfix {
	clear: both;
}

img {
	width: auto;
	height: auto;
	max-width: 100%;
}

.mg-bottom {
	margin-bottom: 30px;
}

.title-w-icon {
	margin-bottom: 20px;
	.fa {
		color: color_theme;
		font-size: 1.6rem;
    	margin-right: 10px;
	}
	h2 {
		display: inline-block;
	}
}