.navigation {
    margin: 20px 0 0 0;
    padding-bottom: 10px;
	&-list {
		text-align: center;
		li { 
		    display: inline-block;
		    height: 35px;
		    line-height: 35px;
		    a {
		    	padding: 10px;
		    	font-size: 14px;
		    	color: #000;
		    	&.active {
		    		background: color_theme;
		    	}
		    	&.arrow {
		    		background: #e8ebf1;
		    		color: color_theme;
		    	}
		    }
		}
	}
}