.menu__list
  margin: 0 auto
  padding: 0
  list-style: none

.menu__item
  display: inline-block

  &:not(:last-child)
    margin-right: $unit__default/3

.menu__link
  padding: $unit__default/6 $unit__default/2
  color: $color__text
  font:
    weight: 600
    size: .9em
  text-transform: uppercase

.submenu__list
  display: none

  &.active
    display: block