// ==========================================================================
// VARIABLES
// ==========================================================================

// BASE PARA FONTS
$b-font-size: 16;

// CORES
$main-blue: #2aacc8;
$light-blue: #81e4ed;
$lighter-blue: #e8fcfe;
$main-gray: #e8ebf1;
$text-color: #363636;

// FONTS
$font-title: Arial, sans-serif;
$font-title-bold: Arial, sans-serif;
$font-family-sans-serif: Arial, sans-serif;
$font-family-serif: Arial, sans-serif;
$font-family-base: Arial, sans-serif;
$font-size-base: 16px;
$body-bg: #fff;



