.footer
  background: $color__base
  border-top: 1px solid darken($color__base, 10%)

  .container
    flex-direction: column

.footer__top
  display: flex
  justify-content: space-between
  padding: 0

.footer__nav
  display: flex
  justify-content: space-around

.footer__nav-list
  margin: 0
  padding: 0
  list-style: none

.footer__nav-item
  font-size: .9em

  &:not(:last-child)
    margin-bottom: $unit__default/6

.footer__text
  margin: 0
  font-size: .8em
  line-height: 1.5em

.footer__contact

  strong
    font-size: .8em

.social__list
  display: flex
  flex-wrap: wrap

.social__link:not(:last-child)
  margin-right: $unit__default/2