.footer
  background: $color__base
  border-top: 1px solid darken($color__base, 10%)

  .container
    flex-direction: column

.footer__top
  display: flex
  justify-content: space-between
  padding: 0

.footer__nav
  display: flex