.latestworks
  margin: $unit__default/2 auto

  .container
    flex-direction: column

  .section__header
    display: flex
    align-items: center
    justify-content: space-between
    width: 100%
    border-bottom: 1px solid darken($color__light, 20%)

.section_nav

  div
    display: inline-block
    width: 20px
    height: 20px
    background-color: lighten($color__brand, 20%)
    border-radius: 100%
    cursor: pointer

    &:before
      display: block
      color: lighten($color__text, 20%)
      font-size: 1.5em
      text-align: center
      line-height: $unit__default/2

    &:not(:last-child)
      margin-right: $unit__default/6

  .owl-prev:before
    content: '\2039'

  .owl-next:before
    content: '\203A'

.owl-latestworks
  overflow: hidden
  margin-top: $unit__default
  padding: 0

  .disabled
    display: none

  .owl-stage
    display: flex
    justify-content: space-between

  .owl-item
    width: 220px !important

  .work
    position: relative

    &:hover > .work__info
      height: 80px

  .work__image
    display: block

  .work__info
    position: absolute
    left: 0
    right: 0
    bottom: 0
    height: 0
    width: 220px
    background-color: $color__brand
    transition: .3s height ease-out