section.section.latestworks
  div.container.col-12
    header.section__header
      img.section__icon(src='img/latestworks_icon.png' alt='')
      h3.section__title Latest Works

      div.section_nav
        div.owl-prev prev
        div.owl-next next

    section.owl-theme.owl-latestworks.col-12
      div.work.item
        img.work__image(src='img/latestworks_img-1.png' alt='')
        div.work__info
          a.work__info-view(href='#' title='View more about this work')
          a.work__info-link(href='#' title='View this job in production')

      div.work.item
        img.work__image(src='img/latestworks_img-2.png' alt='')
        div.work__info
          a.work__info-view(href='#' title='View more about this work')
          a.work__info-link(href='#' title='View this job in production')

      div.work.item
        img.work__image(src='img/latestworks_img-3.png' alt='')
        div.work__info
          a.work__info-view(href='#' title='View more about this work')
          a.work__info-link(href='#' title='View this job in production')

      div.work.item
        img.work__image(src='img/latestworks_img-4.png' alt='')
        div.work__info
          a.work__info-view(href='#' title='View more about this work')
          a.work__info-link(href='#' title='View this job in production')