section.section.latestworks
  div.container.col-12
    header.section__header
      img.section__icon(src='img/latestworks_icon.png')
      h3.section__title Latest Works

      div.section_nav.owl-nav
        div.owl-prev
        div.owl-next

    