div.owl-carousel.owl-theme.owl-bislite
  a(href='#'): img(src='img/banner1.png')
  a(href='#'): img(src='img/banner1.png')
  a(href='#'): img(src='img/banner1.png')
  a(href='#'): img(src='img/banner1.png')
  a(href='#'): img(src='img/banner1.png')