nav.header__menu
  ul.menu__list
    li.menu__item #[a(href='#').menu__link Home]
    li.menu__item #[a(href='#').menu__link About Us]
    li.menu__item.submenu #[a(href='#').menu__link Services]
      ul.submenu__list
        -
          var list = ["Web Design", "WordPress", "Mobile App", "Internet", "Social Media Management"]
        each item in list
          li.submenu__item #[a(href='#').submenu__link= item]
    li.menu__item.submenu #[a(href='#').menu__link Portfolio]
      ul.submenu__list
        -
        each item in list
          li.submenu__item #[a(href='#').submenu__link= item]
    li.menu__item #[a(href='#').menu__link Blog]
    li.menu__item #[a(href='#').menu__link Contact Us]