section.section.bottom__section.col-12
  div.section__testimonials.col-6
    header.section__header
      img.section__icon(src='img/testimonial_icon.png' alt='')
      h3.section__title Testimonials
    article.section__article
      p.section__text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      span.section__author John Travis, CEO, DomainName.com

  div.section__clients.col-6
    header.section__header
      img.section__icon(src='img/client_icon.png' alt='Clients icon')
      h3.section__title Our Clients
    div.clients__logos
      div.client__logo.col-4
        img.client__logo-img(src='img/client_cox.png' alt='Cox Communications')
      div.client__logo.col-4
        img.client__logo-img(src='img/client_cnn.png' alt='CNN')
      div.client__logo.col-4
        img.client__logo-img(src='img/client_apartmentfinder.png' alt='Apartment Finder')
      div.client__logo.col-4
        img.client__logo-img(src='img/client_johndeere.png' alt='John Deere')
      div.client__logo.col-4
        img.client__logo-img(src='img/client_bananaboat.png' alt='Banana Boat')
      div.client__logo.col-4
        img.client__logo-img(src='img/client_fujifilm.png' alt='Fujifilm')

section.section.bottom__section.col-12
  div.section__ad.col-12
    p.ad__text This is a clean and modern, four column website PSD template. You can code it into a WordPress website, HTML5 responsive website for your personal or client works. So ahead and download this wonderful PSD template!
    a.ad__button(href='#') Download PSD