section.section.middle__section
  div.container.col-12
    article.section__info.col-3
      header.section__header
        img.section__icon(src='img/middle_icon-1.png')
        h3.section__title Clean Theme
      p.info__text Ut nec lorem id orci convallis porta. Donec pharetra neque eu velit dictum molestie. Duis porta gravida augue sed viverra. Quisque at nulla leo, non aliquet mi.
      a.info__readmore(href='#') Read More

    article.section__info.col-3
      header.section__header
        img.section__icon(src='img/middle_icon-2.png')
        h3.section__title Responsive Design
      p.info__text Ut nec lorem id orci convallis porta. Donec pharetra neque eu velit dictum molestie. Duis porta gravida augue sed viverra. Quisque at nulla leo, non aliquet mi.
      a.info__readmore(href='#') Read More

    article.section__info.col-3
      header.section__header
        img.section__icon(src='img/middle_icon-3.png')
        h3.section__title Fully Layerd PSD
      p.info__text Ut nec lorem id orci convallis porta. Donec pharetra neque eu velit dictum molestie. Duis porta gravida augue sed viverra. Quisque at nulla leo, non aliquet mi.
      a.info__readmore(href='#') Read More

    article.section__info.col-3
      header.section__header
        img.section__icon(src='img/middle_icon-4.png')
        h3.section__title Ready for Coding
      p.info__text Ut nec lorem id orci convallis porta. Donec pharetra neque eu velit dictum molestie. Duis porta gravida augue sed viverra. Quisque at nulla leo, non aliquet mi.
      a.info__readmore(href='#') Read More

include _components/latestworks.pug