section.section.middle__section.col-12
  article.section__info.col-3
    div.info__header
      img.info__icon
      h3.info__title Clean Theme
    p.info__text Ut nec lorem id orci convallis porta. Donec pharetra neque eu velit dictum molestie. Duis porta gravida augue sed viverra. Quisque at nulla leo, non aliquet mi.
    a.info__readmore(href='#') Read More

  article.section__info.col-3
    div.info__header
      img.info__icon
      h3.info__title Responsive Design
    p.info__text Ut nec lorem id orci convallis porta. Donec pharetra neque eu velit dictum molestie. Duis porta gravida augue sed viverra. Quisque at nulla leo, non aliquet mi.
    a.info__readmore(href='#') Read More

  article.section__info.col-3
    div.info__header
      img.info__icon
      h3.info__title Fully Layerd PSD
    p.info__text Ut nec lorem id orci convallis porta. Donec pharetra neque eu velit dictum molestie. Duis porta gravida augue sed viverra. Quisque at nulla leo, non aliquet mi.
    a.info__readmore(href='#') Read More

  article.section__info.col-3
    div.info__header
      img.info__icon
      h3.info__title Ready for Coding
    p.info__text Ut nec lorem id orci convallis porta. Donec pharetra neque eu velit dictum molestie. Duis porta gravida augue sed viverra. Quisque at nulla leo, non aliquet mi.
    a.info__readmore(href='#') Read More