$primary-color              : #ffffff;
$secondary-color            : #e8ebf1;
$tertiary-color             : #000000;
$hover-menu                 : #2aacc8;
$service-link               : #2aacc8;
$service-description-color  : #363636;
$footer-text-color          : #363636;
$footer-border              : #d9d9d9;
$border-dropdown            : #e7e7e7;
$bg-apresentation           : #81e4ed;
$border-carousel            : #dfe1e5;
$hover-works                : #2aacc8;
$hover-link-footer          : #2aacc8;
$bg-brand-clients           : #e8ebf1;
$bg-download                : #e8fcfe;
$color-button               : #0d0707;
