@import '../_variables.scss';

.apresentation {
  background: $bg-apresentation;
  padding-top: 20px;

  .slider {
    height: 470px;
    margin-bottom: 0px;
    overflow: hidden;
    position: relative;
    width: 1000px;
  }

  #slider-wrapper {
    background: rgba(0, 0, 0, 0.5);
    height: 470px;
    margin: 50px auto;
    position: relative;
    margin-bottom: 0px;
    overflow: hidden;
    width: 940px;
  }

  #s1 {
    padding: 6px;
    background: $primary-color;
    position: absolute;
    left: 50%;
    bottom: 25px;
    margin-left: -36px;
    border-radius: 20px;
    opacity: 0.3;
    cursor: pointer;
    z-index: 999;
  }

  #s2 {
    padding: 6px;
    background: $primary-color;
    position: absolute;
    left: 50%;
    bottom: 25px;
    margin-left: -12px;
    border-radius: 20px;
    opacity: 0.3;
    cursor: pointer;
    z-index: 999;
  }

  #s3 {
    padding: 6px;
    background: $primary-color;
    position: absolute;
    left: 50%;
    bottom: 25px;
    margin-left: 12px;
    border-radius: 20px;
    opacity: 0.3;
    cursor: pointer;
    z-index: 999;
  }

  #s4 {
    padding: 6px;
    background: $primary-color;
    position: absolute;
    left: 50%;
    bottom: 25px;
    margin-left: 36px;
    border-radius: 20px;
    opacity: 0.3;
    cursor: pointer;
    z-index: 999;
  }

  #s1:hover, #s2:hover, #s3:hover, #s4:hover {
    opacity: .50;
  }

  .inner-wrapper {
    width: 940px;
    height: 470px;
    position: absolute;
    top: 0;
    left: 0;
    margin-bottom: 0px;
    overflow: hidden;
  }

  .control {
    display: none;
  }

  #Slide1:checked ~ .overflow-wrapper {
    margin-left: 0%;
  }

  #Slide2:checked ~ .overflow-wrapper {
    margin-left: -100%;
  }

  #Slide3:checked ~ .overflow-wrapper {
    margin-left: -200%;
  }

  #Slide4:checked ~ .overflow-wrapper {
    margin-left: -300%;
  }

  #Slide1:checked + #s1, #Slide2:checked + #s2, #Slide3:checked + #s3, #Slide4:checked + #s4 {
    opacity: 1;
  }

  .overflow-wrapper {
    width: 400%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow-y: hidden;
    z-index: 1;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }

  .slider__image {
    width: 25%;
    float: left;
  }

}
