* { box-sizing: border-box; }

body {
  font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  font-size: 14px;
  width: 100%;  
}
.container,
.projects {
  margin: auto;
  width: 1000px;
}
