
.button {
	text-align: center;
}
.btn {
	padding: 10px;
	display: inline-block;
	color: #fff;
	border-radius: 5px;
	background: color_theme;
	text-transform: uppercase;
	&-download {
		padding: 20px;
		border: 1px solid #2aacc8;
		background: linear-gradient(to bottom, #80e3ed, #2aacc8);
		background: -moz-linear-gradient(to bottom, #80e3ed, #2aacc8);
		background: -webkit-linear-gradient(to bottom, #80e3ed, #2aacc8);
		color: #0d0707;
		font-size: 17px;
		font-weight: bold;
		line-height: 1.5;
		.fa {
			font-size: 2rem;
			margin-right: 10px;
			float: left;
			color: #fff;

		}
	}
}
