.breadcrumb {
    margin-bottom: 30px;
    border-bottom: 1px solid #dddddd;
    padding-bottom: 10px;
	.category {
		&-list {
			li { 
			    display: inline-block;
			    height: 35px;
			    line-height: 35px;
			    a {
			    	padding: 10px;
			    	font-size: 14px;
			    	color: #000;
			    	&.active {
			    		background: #81e4ed;
			    	}
			    }
			}
		}
	}
}

.portfolio {
	padding: 40px 0;
	.title-w-icon {
	    border-bottom: 1px solid #ddd;
	    padding-bottom: 10px;
	    margin-bottom: 10px;
	}
	.works-group {
		border-bottom: 1px solid #ddd; 
	}
}