doctype html
html(lang="en")
  head
    include shared/head.pug
  body
    include shared/header.pug
    include shared/carousel.pug
    include shared/middle_section.pug
    include shared/footer.pug